root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
max_line_length = 120

[*.{kt,kts}]
indent_size = 2
ij_kotlin_continuation_indent_size = 2
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

[*.{cpp,h,hpp,c}]
indent_size = 4

[*.{xml,json,yaml,yml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.properties]
indent_size = 2

[{CMakeLists.txt,*.cmake}]
indent_size = 4

[gradlew.bat]
end_of_line = crlf
